@charset 'utf-8';
body,
html {
  width: 100%;
  min-height: 100%;
}
/* 头部 */
.header {
  width: 100%;
  height: 0.94rem;
  background: #2861ee;
  padding: 0 0.2rem;
  box-sizing: border-box;
}
.header span {
  height: 100%;
}
.header span:nth-of-type(1) {
  float: left;
  width: 0.5rem;
  background: url(../img/return_03.png) no-repeat 0 center;
  background-size: 0.34rem 0.46rem;
}
.header span:nth-of-type(2) {
  width: 0.8rem;
  float: right;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.94rem;
}
.header .seach {
  float: left;
  width: 4.02rem;
  height: 0.61rem;
  margin-left: 1.09rem;
  margin-top: 0.19rem;
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 0.28rem;
  border-radius: 0.28rem;
}
.header .seach input {
  width: 4.02rem;
  height: 0.61rem;
  line-height: 0.61rem;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 0.28rem;
  border-radius: 0.28rem;
  border: none;
  outline: none;
  background: url(../img/seach_03.png) no-repeat 0.52rem 0.12rem;
  background-size: 0.42rem 0.42rem;
  padding-left: 1rem;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.26rem;
}
.header .seach input::-webkit-input-placeholder {
  color: #fff;
  font-size: 0.26rem;
}
/* 提示 */
.tips {
  width: 100%;
  height: 0.35rem;
  line-height: 0.35rem;
  font-size: 0.3rem;
  color: red;
  text-align: center;
  display: none;
}
/* 热点搜索页面 */
.hot_seach {
  width: 100%;
  height: 3rem;
  padding: 0.38rem 0.2rem 0 0.2rem;
  box-sizing: border-box;
}
.hot_seach span {
  font-size: 0.46rem;
  color: #ff2f2f;
  float: left;
}
.hot_seach b {
  float: left;
  font-size: 0.36rem;
  color: #282828;
  font-weight: normal;
  margin-top: 0.05rem;
}
.hot_seach ul {
  width: 100%;
  overflow: hidden;
  margin-top: 0.2rem;
}
.hot_seach ul li {
  float: left;
  width: 25%;
  text-align: center;
  color: #656565;
  font-size: 0.2rem;
  height: 0.44rem;
  line-height: 0.44rem;
}
